/*  your css code here. If applicable */
#grid{
	display:grid;
	/* width:100vw; */
	grid-template-columns:242.5px 242.5px 242.5px 242.5px;
	/* grid-template-columns:auto auto auto auto ; */
	grid-template-rows:124px 124px 124px 124px 124px;
	grid-gap:10px;
	
}
#grid div{
	color:white;
	background-color:green;
	
}
#div1{
	grid-column:4 span/auto;
	
}

#div4{
	grid-column:2 span/auto;
	
}
#div5{
	grid-column:2 span/auto;
	
}
#div2{
	grid-row:4 span/auto;
	
}
#div10{
	grid-column:3 span/auto;
	
}